<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PointsServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PointsServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44303/PointsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PointsServiceSoap"
                contract="PointsService.PointsServiceSoap" name="PointsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>